a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #2e2f42;
}

.address {
  font-style: normal;
  color: #434455;
}

.page-link-colors {
  color: #2e2f42;
}
.external-link-colors {
  color: #434455;
}

.navigation-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-menu-link:focus,
.navigation-menu-link:hover {
  color: #404bbf;
}

.headline-section {
  background-color: #2e2f42;
  letter-spacing: 0.02em;
}
.headline {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.headline-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.headline-button:hover,
.headline-button:focus {
  background-color: #404bbf;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}
.section-title {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-card {
  background-color: #ffffff;
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer .portfolio-paragraph {
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
.span-logo-white {
  color: #f4f4fd;
}
